<div class="main-page">
  <div class="sign-in-box">
    <h3>Sign Up</h3>

    <form class="" action="<%= users_url %>" method="post">
      <%= auth_token %>

      <div class="field">
        <input type="text" name="user[email]" value="" placeholder="email">
      </div>

      <br><br>

      <div class="password-field">
        <input type="password" name="user[password]" value="" placeholder="password">
      </div>

      <br><br>

      <div class="first-name-field">
        <input type="text" name="user[first_name]" value="" placeholder="first name">
      </div>

      <br><br>

      <div class="last-name-field">
        <input type="text" name="user[last_name]" value="" placeholder="last name">
      </div>

      <br><br>

      <input type="submit" class="submit-button">
    </form>

  </div>
</div>
