<footer id="footer">
    <ul>
      <li><a href="https://github.com/stephanie-lee"><img src="/assets/Github-mark.png"
           alt="GitHub logo"
           height="25"
           width="25"> Github</a></li>
    </ul>
</footer>
