/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 0px;
  margin-top: 0px;
  // margin: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.list-inline { //list tags side by side
  display: inline-block;
  margin-left: 0px
}

.list-inline li {
  padding-right: 0px;
}

.list-inline li:last-child {
  margin-right: 10px;
}

.list-inline li:last-child:after {
  content: "";
}

.list-inline li:after {
  content: ",";
}

.hover-box {
  background: white;
  width: 100%;
  top: 0;right: 0;left: 0;bottom: 0;


  &:hover{
    background: #ccff99;
  }
}

.btn-secondary {
  background: #dddddd;
  color: #808080;
  margin-right: 10px;

  &:hover{
    background: #bbbbbb;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

nav-link {
  float: inherit;

  &:hover {
    background: white;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  height: 100px;
  margin: 0px;
  overflow: hidden;
}

.below-nav {
  top: 100px;
  position: relative;
}

.main-search_suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.search-bar {
  position: fixed;
  padding-top: 30px;
  left: 30%;
}

.search-bar input {
  width: 300px
}

/* spots details */
.glyphicon-remove-circle {
  margin-left: 2px;
  color: #bbbbbb;

  &:hover{
    cursor: crosshair;
  }
}

/* footer */

footer {
  margin-top: 370px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
