/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require star-rating.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: helvetica;
  padding-top: 80px;
  margin-top: 0px;
  background-color: #d3ffbd;
  // margin: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.list-inline { //list tags side by side
  display: inline-block;
  margin-left: 0px
}

.list-inline li {
  padding-right: 0px;
}

.list-inline li:last-child {
  margin-right: 10px;
}

.list-inline li:last-child:after {
  content: "";
}

.list-inline li:after {
  content: ",";
}

.hover-box {
  background: white;
  width: 100%;
  top: 0;right: 0;left: 0;bottom: 0;


  &:hover{
    background: #ccff99;
  }
}

.btn-secondary {
  background: #dddddd;
  color: #808080;
  margin-right: 10px;

  &:hover{
    background: #bbbbbb;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #e5ffe0;
  border-radius: 0px;
  border-top: 1px #e5ffe0;
  border-right: 1px #e5ffe0;
  border-left: 1px #e5ffe0;
  border-bottom: solid 1px #dddddd;
}

.navbar-brand {
  padding-top: 10px;
}

nav {
  height: 80px;
  z-index: 99;
  top: 0;
  display: inline-block;
}

nav div ul {
    float: right;
    padding-top: 15px
}

.search-bar {
  width: 300px;
  padding-top: 8px;
}

.search-box {
  background-color: #e4f0fd
}

.dropdown-menu li {
  text-align: center
}

@media (max-width: 813px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* search index */
.search-content-title {
  height: 70px;
  background-color: #e4f0fd;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item {
  border-bottom: solid 1px #f0f0f0;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px
}

.list-group-item ul {
  padding-left: 20px;
  display: inline-block;
}

.list-group-item img {
  ;
}

.list-group-item ul li:not(:first-child) {
  float: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}

/* below nav */
.below-nav {
  width: 100%;
  padding: 0px;
}

 /* sign-in/sign-up pages */
.sign-in-text {
  color: #666666;
}

.form-control {
  width: 230px;
}

.form-control {
  display: initial;
}

/* spots details */
.glyphicon-remove-circle {
  margin-left: 2px;
  color: #bbbbbb;

  &:hover{
    cursor: crosshair;
  }
}

/* reviews */
.rating-choice > * {
  display: inline-block;
  right:100px
}

.rating-choice :last-child {
  margin-left: 5px;
}

/* footer */

#footer {
  background: transparentize(white, 0.10);
  position:fixed;
   bottom:0;
   width:100%;
   height:40px;
  border-top: 1px solid #eaeaea;
  color: #777;
  z-index: 99;
}

#footer a {
  color: #555;
}

#footer a:hover {
  color: #222;
}

#footer ul {
  float: right;
  list-style: none;
}

#footer ul li {
  float: left;
  margin-right: 15px;
  padding-top: 5px;
}
