/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require star-rating.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px;
  margin-top: 0px;
  // background-color: #F7FCF8;
  color: #4d4d4d;
  background-image:url(http://res.cloudinary.com/stephlee/image/upload/co_rgb:292f2a,e_green:15,o_28/e_brightness:-53/v1451936473/bigstock-Baker-Beach-San-Francisco-Large_u96gu8.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-animation: fade-in 2s;
}

@-webkit-keyframes fade-in{
  0%{opacity: 0}
  50%{opacity: .5}
  100%{opacity: 1}
}

section {
  overflow: auto;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;

  resize: none;
  z-index: 50;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.btn-xxs {
  border-radius: 3px;
  padding: 2px 2px;
  font-size: 10px;
  line-height: normal;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* home page */
  #home-page-container {
    height: 100%;
    width: 100%;
    display: inline-flex;
  }

  #home-page-container .left-column {
    height: 100%;
    width: calc(70% - 30px);
    margin-left: 20px;
    margin-right: 10px
  }

  #home-page-container .right-column {
    margin-right: 0px;
    margin-left: 10px;
    background-color:rgba(247,252,248,0.5);
    height: 100%;
    position: fixed;
  }

  #home-page-container .right-column .tight-container {
    border-left: 1px solid #f0f0f0;
    width: 100%;
    height: 100%;
    margin: 30px 0px;
  }

  .spot-review-title {
    padding-left: 20px;
  }

  .form-tight-container {
    width: 100%;
  }

  .home-review-form {
    margin: 20px;
    padding: 15px;
    width: 650px;
    background-color: rgba(228, 240, 253, 0.75)//#e4f0fd;
  }

  .message--error {
    color: red;
    text-align: center;
    padding-left: 140px;
  }

  .message--info {
    color: green;
    padding-left: 30px;
  }

  .spot-search-box {
    background-color: white;
  }

  .search-bar-stars > div:first-child {
    display: -webkit-box;
  }

  .search-bar-stars > div:nth-child(2) {
    display: inherit;
  }

  .home-review-form {
    height: auto;
  }

  .home-review-form form {
    display: table-caption;
    height: auto;
  }

  .no-spot-suggest {
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 130px;
  }

  @media (max-width: 787px) {
    .right-column {
      display: none;
    }
    #home-page-container .left-column {
      width: 100%;
    }
    .home-review-form {
      width: 540px;
    }
  }

  .recent-review-title {
    padding-left: 40px;
    padding-bottom: 10px;
  }

  .recent-reviews-container {
    padding-bottom: 40px;
    margin-top: 30px;
  }

  .recent-stars-with-date {
    display: inline-flex;
  }

  .recent-stars-with-date > div:last-child {
    padding-top: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  #recent-review-item {
    margin-left: 5%;
    width: 90%;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #recent-review-item .recent-review-info {
    margin-left: 115px;
  }

  #recent-review-item .recent-review-info > li:first-child {
    margin-left: -10px;
    margin-bottom: 5px;
  }

  #recent-review-item img {
    float: left;
  }

  .user-info {
    height: 130px;
    padding: 5px 20px;
  }

  .user-info .user-info-card {
    height: 115px;
    width: 290px;
    border: 1px solid #f0f0f0;
    padding: 10px;
    background-color: rgba(229,255,224, .8) //#e5ffe0;
  }

  .user-info-card img {
    float: left;
  }

  .user-info-card ul {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    position: absolute;
    margin-left: 100px;
  }

  .user-info-card ul li:first-child {
    font-size: 18px;
    font-family: 'alegreya', sans-serif;
  }

  .user-info-card ul > li {
    margin: 2px 0px;
  }

  .user-info-card ul > li:last-child {
    margin: 2px 0px;
    font-size: 12px;
  }

  .hot-spot-container {
    height: 100%;
  }

  .hot-spot-tight-container {
    margin: 20px;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;

  }

  .list-unstyled .info-heading {
    font-size: 14px;
    font-family: 'alegreya', sans-serif;
  }

  .hot-spot-info {
    font-size: 12px;
    margin-top: 15px;
  }

  .hot-spot-info img {
    float: left;
  }

  .hot-spot-info ul li {
    margin-left: 100px;
  }

  #hot-spot-stars {
    margin-left: 0;
  }

  .hot-spot-info li:last-child {
    padding-top: 5px;
  }

  .hot-spot-reviews {
    padding-top: 15px;
  }

  .hot-spot-reviews h5 {
    margin-left: 5px;
  }

  .hot-spot-review {
    height: 80px;
    margin: 10px 0px 10px 10px;
    font-size: 11px;
  }

  .hot-spot-review:last-child {
    padding-bottom: 0px;
  }

  .hot-spot-review img {
    float: left;
    margin-bottom: 20px;
  }

  .hot-spot-review ul {
    margin-left: 80px;
  }

  .hot-spot-review ul li:first-child {
    margin-bottom: 5px;
  }

/* page details */

.spot-info li:last-child ul {
  padding-left: 0px;
}

.list-group-item .spot-info ul {
  padding-left: 0px;
}

.list-inline { //list tags side by side
  display: inline-block;
  margin-left: 0px;
}

.list-group-item .spot-info .tag-list li {
  padding-right: 5px;
}

.list-inline li:first-child {
  padding-left: 5px;
}

.list-inline li {
  padding-right: 5px;
  padding-left: 0px;
}

.list-inline li:last-child {
  margin-right: 5px;
}

.list-inline li:last-child:after {
  content: "";
}

.list-inline li:after {
  content: ",";
}

.hover-box {
  background: white;
  width: 100%;
  top: 0;right: 0;left: 0;bottom: 0;


  &:hover{
    background: #ccff99;
  }
}

.btn-secondary {
  background: #dddddd;
  color: #808080;
  margin-right: 10px;

  &:hover{
    background: #bbbbbb;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Alegreya', serif;
}

.alegreya {
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h4 {
  margin-bottom: 0px;
}

/* header */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #daffd3;
  border-radius: 0px;
  border-top: 1px #daffd3;
  border-right: 1px #daffd3;
  border-left: 1px #daffd3;
  border-bottom: solid 1px #dddddd;
}

.navbar-brand {
  padding-top: 10px;
  position:absolute;
}

nav {
  height: 80px;
  z-index: 99;
  top: 0;
  display: inline-block;
}

nav div ul {
    float: right;
    padding-top: 15px
}

.search-bar {
  width: 300px;
  padding-top: 8px;
  margin-right: 170px;
}

.search-box {
  background-color: #e4f0fd;
}

.dropdown-menu li {
  text-align: center
}

.dropdown .user-avatar {
  float: right;
  bottom: 100%;
  padding: 0px;
}

@media (max-width: 813px) {
  .navbar-header {
      float: none;
      height: 80px;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
   }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
	    margin-top: 7.5px;
      background-color: #D3FFBD;
      display: inline-flex;
      position: absolute;
      right: 20px;
      top: 73px;
	}
	.navbar-nav>li {
        float: right;
        margin: 10px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
		display:block !important;
	}
}

/* search index */
#search-index-container {
  width: calc(65% - 80px);
  margin-left: 40px;
  top: 150px;
  position: absolute;
}

#search-index-map-container {
  position: fixed;
  top: 150px;
  right: 0px;
  width: 35%;
  height: calc(100% - 190px);
}

#search-index-map-container .map {
  width: 100%;
  height: 100%;
}

#address-container {
  height: 100px;
  float: right;
  right: 0px;
  width: 30%;
  margin-top: 20px;
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 844px) {
    #address-container {
        display: none;
    }
}

.search-content-title {
  height: 70px;
  background-color: #e4f0fd;
  top: 80px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  z-index: 96;
  position: fixed;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item {
  border-bottom: solid 1px #f0f0f0;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  padding-bottom: 5px;
  height: 160px;
}

.list-group-item ul {
  padding-left: 20px;
  display: inline-block;
}

.list-group-item ul:first-child {
  margin: 0px
}

.list-group-item img {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  display: inline-block;
  float: left;
}

.list-group-item ul li:not(:first-child) {
  float: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

tr td:last-child {
  padding-left: 7px;
}

/* below nav */
.below-nav {
  width: 100%;
  padding: 0px;
}

 /* sign-in/sign-up pages */
.sign-in-text {
  color: #666666;
}

.form-control {
  width: 230px;
}

.form-control {
  display: initial;
}

/* spot index */
.spot-index-item {
  background-color: rgba(255,255,255, .7);
}

.spot-info {
  padding-top: 15px;
  position: absolute;
  width: 47%
}

.spot-rating-list {
  display: inline-block;
}

.failed-search-container {
  margin: 20px;
}

.tag-suggestions {
  margin-left: 20px;
}

.tag-suggestions > li {
  padding: 3px;
}

/* spots details */
.glyphicon-remove-circle {
  margin-left: 2px;
  color: #bbbbbb;

  &:hover{
    cursor: crosshair;
  }
}

.spot-detail-page {
  margin: 0px 120px;
  background-color: rgba(255,255,255,.75);
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.spot-detail-pane {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.blue-background-container .detail .spot-name {
  font-size: 30px;
}

.blue-background-container {
  text-align: center
}

.blue-background-container ul {
  width: auto;
  display: inline-block;
  text-align: center
}

// .blue-background-container ul .rating {
//   margin-left: 30%
// }

#map-address-container {
  margin-top: 20px;
  border: 2px solid #f0f0f0;
  background-color: #FCFCF5;
  height: 275px;
  width: 350px;
}

#map-address-container > li:first-child {
  height: 70%;
  width: 100%;
  padding: 3px;
}

#map-address-container li .map {
  height: 100%;
  width: 100%;
}

#map-address-container .details-address-box {
  padding-top: 8px;
  padding-left: 8px;
  font-size: 15px;
}

.spot-details-map-pictures > li {
  display: inline-block;
}

.spot-details-map-pictures .pictures-list {
  position: absolute;
  top: 275px;
}

.pictures-list img:nth-child(2){
  position: absolute;
  left: 175px;
}

.pictures-list img:last-child{
  position: absolute;
  left: 350px;

}

.blue-background-container {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: -1;
  width: 100%;
  height: 370px;
  background-color: rgba(228,240,253,.70)
}

/* review form */
.rating-choice textarea {
  margin-bottom: 10px;
}

.rating-choice h7 {
  margin-left: 8px;
}

/* reviews */

.box {
  height: 15px;
  width: 20px;
}

.scroll-to-reviews {
  text-align: center;
  height: 20px;
  &:hover {
   cursor: pointer;
   text-decoration: none;
  }
}

.scroll-to-reviews .glyphicon {
  padding-left: 15px;
  top: 4px;
  &:hover {
   cursor: pointer;
  }
}

@media (max-width: 1185px) {
  .spot-details-map-pictures .pictures-list img:last-child {
    display: none;
  }
}

@media (max-width: 1010px) {
  .spot-details-map-pictures .pictures-list img:nth-child(2) {
    display: none;
  }
}

@media (max-width: 833px) {
  .spot-details-map-pictures .pictures-list img:first-child {
    display: none;
  }
}

@media (max-width: 762px) {
  .spot-detail-page {
    margin: 0px;
    background-color: rgba(255,255,255,.75);
  }

  .spot-details-map-pictures .pictures-list {
    display: none;
  }
}

.review-index-pane {
  width: 100%;
}

.current-user-review-components {
  display: -webkit-inline-box;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  margin-top: 15px;
}

.review-index-item-components {
  display: -webkit-inline-box;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  margin-top: 15px;
}

#current-user-info {
  padding-top: 25px;
  width: 270px;
}

#current-user-info .user-info {
  padding-top: 10px;
}

#current-user-info img {
  float: left;
  margin-right: 10px;
  border: 1px solid #f0f0f0;
}

#current-user-review {
  width: calc(100% - 270px);
  padding: 20px 20px 10px 0px;
}

.delete-review {
  margin-left: 5px;
}

.rating-choice > * {
  display: inline-block;
  right:100px
}

.rating-choice > :last-child {
  margin-left: 5px;
}

.stars-with-date {
  display: inline-flex;
  margin-bottom:15px;
}

.stars-with-date>div:last-child {
  padding-top: 6px;
  margin-left: 10px;
}

/* request form */
.request-form-container {
  margin-top: 100px;
}

/* footer */

#footer {
  background: transparentize(white, 0.10);
  position:fixed;
   bottom:0;
   width:100%;
   height:40px;
  border-top: 1px solid #eaeaea;
  color: #777;
  z-index: 99;
}

#footer a {
  color: #555;
}

#footer a:hover {
  color: #222;
}

#footer ul {
  float: right;
  list-style: none;
}

#footer ul li {
  float: left;
  margin-right: 15px;
  padding-top: 5px;
}

/* errors */
.flash {
  color: red;
  text-align: center;
  top: 5%;

}
